<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head.ejs') %>

<body>

  <%- include('./partials/header.ejs') %>

    <main>
<section>
<h1 class="continer title">WEB DEVELOPMENT FRAMEWORKS</h1>
<div class="container">
    <div class="row">
      <div class="col">
        <p>Lorem ipsum dolor sit amet, s quas quae nesciunt deleniti optio. Provident nobis culpa vero sapiente nisi, sequi harum totam dicta ad tempora incidunt illum unde qui debitis recusandae consequuntur dignissimos ipsum!
        Error velit, itaque mollitia molestiae fuga et quisquam, vero temporibus soluta aspernatur unde qui quam. Obcaecati odit voluptas magni quaerat pariatur. Corporis laudantium, mollitia eaque iusto placeat nisi consequatur dicta.
        Vitae at quia beatae sequi excepturi ipsam dolorum necessitatibus minus similique expedita dolor molestias minima, aspernatur itaque exercitationem nulla eius, iure tempora libero rerum. Excepturi voluptatum molestiae et ex perferendis.
        Molestias corporis error sunt cumque reiciendis qui repudiandae unde recusandae natus amet, beatae dolorum, commodi rem provident aut, ipsam non voluptates quae eum excepturi iste. Accusamus animi tenetur hic dolorem.</p>
      </div>
      <div class="col">
        <img src="img/img1.jpg" width="500" height="333">
      </div>
    </div>
  </div>

</section>

<section>

</section>
    </main>

    <%- include('./partials/footer.ejs') %>
    
</body>
</html>