<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head.ejs') %>

<body>

  <%- include('./partials/header.ejs') %>

    <main>
<section>
<h1 class="continer title">WEB DEVELOPMENT FRAMEWORKS</h1>
<div class="container">
    <div class="row">
      <div class="col">
        <p class = "p-description">The main objective of any framework is to make things easier when developing an application, so the developer can focus on the real problem and forget to implement features that are commonly used, such as registering a user, establishing a connection with the database, management of user sessions or storage in database of cached content. This is way all the information and experience about the use of frameworks in a projec is so important for all developers.
        </p>
        <p class = "p-description"> In this page you can post your own article and contibute with your experience to this blog. 
        </p>
      </div>
      <div class="col">
        <img class ="img-body" src="img/img1.jpg" width="500" height="333">
      </div>
    </div>
  </div>

</section>
<h1 class="container title">NEW ARTICLE</h1>
<p class ="container">Please fill out the following form to include your article in our blog. The title, a brief description and the content of the article.</p>
<section class="container">
<form class ="form-newarticle" action="/" method="POST">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Title</label>
        <input class="form-control" type="text" placeholder="" aria-label="default input example" name="title">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Fragment</label>
        <input class="form-control" type="text" placeholder="" aria-label="default input example" name="fragment">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Content</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="body"></textarea>
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-dark">Submit</button>
      </div>
</form class => 
</section>
    </main>
  <%- include('./partials/footer.ejs') %>
</body>
</html>