<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head.ejs') %>

<body>

  <%- include('./partials/header.ejs') %>

    <main>
<section>
<h1>WEB DEVELOPMENT FRAMEWORKS</h1>
<div class="container">
    <div class="row">
      <div class="col">
        <p>Lorem ipsum dolor sit amet, s quas quae nesciunt deleniti optio. Provident nobis culpa vero sapiente nisi, sequi harum totam dicta ad tempora incidunt illum unde qui debitis recusandae consequuntur dignissimos ipsum!
        Error velit, itaque mollitia molestiae fuga et quisquam, vero temporibus soluta aspernatur unde qui quam. Obcaecati odit voluptas magni quaerat pariatur. Corporis laudantium, mollitia eaque iusto placeat nisi consequatur dicta.
        Vitae at quia beatae sequi excepturi ipsam dolorum necessitatibus minus similique expedita dolor molestias minima, aspernatur itaque exercitationem nulla eius, iure tempora libero rerum. Excepturi voluptatum molestiae et ex perferendis.
        Molestias corporis error sunt cumque reiciendis qui repudiandae unde recusandae natus amet, beatae dolorum, commodi rem provident aut, ipsam non voluptates quae eum excepturi iste. Accusamus animi tenetur hic dolorem.</p>
      </div>
      <div class="col">
        <img src="img/img1.jpg" width="500" height="333">
      </div>
    </div>
  </div>

</section>
<h1>NEW ARTICLE</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing efugit mollitia officiis sit. Amet accusamus ad tenetur porro quod.</p>
<section class="container">
<form class ="form-newarticle">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Title</label>
        <input class="form-control" type="text" placeholder="" aria-label="default input example">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Description</label>
        <input class="form-control" type="text" placeholder="" aria-label="default input example">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Content</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-dark">Submit</button>
      </div>
</form class => 
</section>
    </main>


    
  <%- include('./partials/footer.ejs') %>


</body>
</html>