body {
    padding:0;
}

 */*{
    outline:1px solid red;
} */

.my-li > a:hover {
    color: #ceaf59;
}

.my-li > a {
    color: rgb(63, 126, 121);
}

.li-footer > a, .p-footer{
    color: white;
}

.li-footer > a:hover {
    color:rgb(63, 126, 121);
}

#main-title{
     font-size: 3rem;
     font-weight: bold;
     text-align:left;
     padding-top: 20px;
}
.top-header {
    border-bottom: 4px solid rgb(80, 79, 79);
}

.my-nav {
    text-decoration: none;
    color: black;
}
/*FOOTER*/

.footer-container {
    background-color: rgb(97, 94, 94);
   
    
}

.img-footer{
    padding-top: 20px;
}

.email-footer{
    padding-top: 20px;
}

.form-newarticle{
    max-width: 650px;
    padding: 3rem;

}

.title{
    padding-left: 40px;
}

.btn-delete{
    border-radius: 50%;
    padding: 10px;
    text-decoration: none;
    justify-self: flex-end;
    float: right;
    box-shadow: 1px 2px 3px black;
    color: black;
}

.btn-delete:hover{
cursor: pointer;
box-shadow: 1px 2px 3px black;
color:#ceaf59;
}

.cont-article{
    padding-top: 12px;
    padding-bottom: 20px;
}


